/*----------------------------------------------------------------------------------------------------
	1.Core/cSys.css
----------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------*/
#xSave
{
	display:				none;					/* required */
}

/*--------------------------------------------------------------------------------------------------*/
*
{
	margin:					0;						/* required */
	padding:				0;						/* required */
}

/*--------------------------------------------------------------------------------------------------*/
body
{

}

/*--------------------------------------------------------------------------------------------------*/
div#xMask
{
	opacity:				0.7;
	z-index:				9000;
	width:              	100%;
	height: 				100%;
	background-color:		#FFFFFF;
	filter: alpha(opacity = 70);

}

/*--------------------------------------------------------------------------------------------------*/
div#xMessage
{
	padding:				2;
	background:				white;
	border-bottom:			solid 1px silver;
	font-family:			arial, sans-serif;
	font-style:				normal;
	font-weight:			normal;
	font-size:				10pt;
}
