/*----------------------------------------------------------------------------------------------------
  Common/cPage.css
----------------------------------------------------------------------------------------------------*/


/*--------------------------------------------------------------------------------------------------*/
div#eTop {
  padding:        4;
  /*background:       white;*/
  border-bottom:      solid 1px silver;
}

/*--------------------------------------------------------------------------------------------------*/
div#eLeft {
  padding:        4;
  background:       white;
  border-right:     solid 1px silver;
}

/*--------------------------------------------------------------------------------------------------*/
div#eMidTop {
  padding:        4;
  background:       white;
  /*border-bottom:      solid 1px silver;*/
}

/*--------------------------------------------------------------------------------------------------*/
div#eMidMid {
  padding:        4;
  background:       white;
}

/*--------------------------------------------------------------------------------------------------*/
div#eMidBottom {
  padding:        4;
  background:       white;
  border-top:       solid 1px silver;
}

/*--------------------------------------------------------------------------------------------------*/
div#eRight {
  padding:        4;
  background:       white;
  border-left:      solid 1px silver;
}

/*--------------------------------------------------------------------------------------------------*/
div#eBottom {
  padding:        4;
  background:       white;
  border-top:       solid 1px silver;
}

/*--------------------------------------------------------------------------------------------------*/
div#eTopLogo {
  float:          left;
  width:          155;
  height:         30;
  background-image:   url('../images/marshall-cavendish-enrich-orange.png');
  background-repeat:    no-repeat;
}

/*--------------------------------------------------------------------------------------------------*/
ul#eTopMenu {
  /*float:          right;*/
}

/*--------------------------------------------------------------------------------------------------*/
ul#eTopMenu li {
  /*display:        inline;
  float:          left;
  margin:         0 0;
  padding:        4 12;*/
}

/*--------------------------------------------------------------------------------------------------*/
ul#eTopMenu li.xHover {
 /* background:       #C0FFC0;*/
}

/*--------------------------------------------------------------------------------------------------*/
ul#eTopMenu li.xSelected {
  /*background:       #E0E0E0;*/
}

/*--------------------------------------------------------------------------------------------------*/
ul#eTopMenu li.xSeparator {
  height:         15;
  margin:         4 2;
  padding:        0 0;
  border-left:      solid 1px #E0E0E0;
}

/*--------------------------------------------------------------------------------------------------*/
ul#eBottomMenu {
  float:          left;
  font-family:      arial, sans-serif;
  font-size:        12;
  font-style:       normal;
  color:          #404040;
}

/*--------------------------------------------------------------------------------------------------*/
ul#eBottomMenu li {
  display:        inline;
  float:          left;
  margin:         0 0;
  padding:        4 8;
}

/*--------------------------------------------------------------------------------------------------*/
ul#eBottomMenu li.xHover {
  color:          #000000;
  background:       #C0FFC0;
}

/*--------------------------------------------------------------------------------------------------*/
ul#eBottomMenu li.xSelected {
  background:       #E0E0E0;
}

/*--------------------------------------------------------------------------------------------------*/
ul#eBottomMenu li.xSeparator {
  height:         15;
  margin:         4 0;
  padding:        0 0;
  border-left:      solid 1px #E0E0E0;
}

/*-------------------------------------------------------------------------------------------------*/
.cTable thead tr {
  text-align:       center;
}

/*--------------------------------------------------------------------------------------------------*/
.cTable tfoot tr {
  display:        none;
}

/*--------------------------------------------------------------------------------------------------*/
.cTable tr.Message {
  background:       white;
  color:          red;
  text-align:       center;
}

/*--------------------------------------------------------------------------------------------------*/
.cTable tr.cEven {
  background:       #F6F6F6;
}

/*--------------------------------------------------------------------------------------------------*/
.cTable tr.cOdd {
  background:       white;
}

/*--------------------------------------------------------------------------------------------------*/
.cTable td {
  height:         30;
  padding:        4;
  border-left:      solid 1px white;
  border-bottom:      solid 1px white;
}

/*--------------------------------------------------------------------------------------------------*/
.cTable button#eView, 
table#eListData button#eGo {
  width:          34;
  height:         22;
  font-size:        9;
}

/*--------------------------------------------------------------------------------------------------*/
table#eFormData {
}

/*--------------------------------------------------------------------------------------------------*/
table#eFormData td.Label {
  width:          120;
  height:         30;
  padding:        4 20 4 4;
  background:       #E0E0E0;
}


/*--------------------------------------------------------------------------------------------------*/
div.cFlash {
  position:       absolute;
  z-index: 10000;
}

/*--------------------------------------------------------------------------------------------------*/
.myimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/*--------------------------------------------------------------------------------------------------*/
.cTab {
  font-family: skia, tahoma;
  font-size: 11px;
  border: 1px solid #dddddd;
  padding-bottom: 5px;
  text-decoration: none;
  padding: 5px 15px;
  background-color: #eeeeee;
}

/*--------------------------------------------------------------------------------------------------*/
.cTab.cOn {
  font-family: skia, tahoma;
  font-size: 11px;
  border-bottom: 0;
  padding: 5px 15px;
  text-decoration: none;
  background-color: #ffffff;
}

/*--------------------------------------------------------------------------------------------------*/
.cTabGap {
  height: 5px;
}

/*--------------------------------------------------------------------------------------------------*/
/*
* {
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: -moz-none;
-o-user-select: none;
user-select: none;
}
*/


